@font-face {
    font-family: 'browallia_newregular';
    src: url('../assets/fonts/browa-webfont.woff2') format('woff2'),
         url('../assets/fonts/browa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browallia_newbold';
    src: url('../assets/fonts/browab-webfont.woff2') format('woff2'),
         url('../assets/fonts/browab-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browallia_newitalic';
    src: url('../assets/fonts/browai-webfont.woff2') format('woff2'),
         url('../assets/fonts/browai-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcregular';
    src: url('../assets/fonts/browau-webfont.woff2') format('woff2'),
         url('../assets/fonts/browau-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcbold';
    src: url('../assets/fonts/browaub-webfont.woff2') format('woff2'),
         url('../assets/fonts/browaub-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcitalic';
    src: url('../assets/fonts/browaui-webfont.woff2') format('woff2'),
         url('../assets/fonts/browaui-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browalliaupcbold_italic';
    src: url('../assets/fonts/browauz-webfont.woff2') format('woff2'),
         url('../assets/fonts/browauz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'browallia_newbold_italic';
    src: url('../assets/fonts/browaz-webfont.woff2') format('woff2'),
         url('../assets/fonts/browaz-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'estrangelo_edessaregular';
    src: url('../assets/fonts/estre-webfont.woff2') format('woff2'),
         url('../assets/fonts/estre-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    /*font-family: 'Minion Pro';*/
    font-family: 'browalliaupcregular', sans-serif;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    overflow-x: hidden;
}


/*===================  PHOTOBOOTH PAGE  ======================*/
.checkIn_page {
  background-size: cover;
  height: 1920px;
  width: 1080px;
  overflow: hidden;
  background-image: url('../assets/img/back.jpg') !important;
}

.checkIn_page img {
    width: 900px;
    margin: auto;
    text-align: center;
    display: block;
}

.checkIn_page .banner {
  width: 100%;
  background-color: #197a56;
  padding: 60px 90px;
  text-transform: uppercase;
}

.sm_txt {
  font-size: 50px;
  font-family: 'browallia_newregular';
  margin-top: 0;
  margin-bottom: -20px;
  opacity: .7;
}

.lrg_txt {
  font-family: 'estrangelo_edessaregular';
  margin-top: 0;
  font-size: 70px;
  margin-bottom: -14px;
}

.checkin_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.box {
  background: rgba(255, 255, 255, .9);
  padding: 70px;
  margin: auto;
  margin-bottom: 30px;
  max-width: 698px;
  width: 100%;
  margin-top: 130px;
}

.box p {
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
}

.checkin_content p {
  color: white;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 42px;
  line-height: 1.2;
  text-transform: uppercase;
  font-family: 'estrangelo_edessaregular';
}

.checkin_content video {
  width: 500px;
  height: auto;
}

.scan_txt {
  font-size: 70px;
  margin-bottom: 0;
}

.email_txt {
  margin-bottom: 0;
}

.checkin_content input, .register_popup input {
  font-size: 40px;
  padding: 30px 50px;
  width: 700px;
}

.checkin_content input {
  width: 84%;
  background: transparent;
  border: none;
  border-bottom: 3px solid white;
  color: white;
}

.register_popup {
  width: 86%;
}

.checkin_content input::placeholder {
  opacity: .6;
  color: white;
}

.checkin_content .btn, .register_popup .btn {
  background-color: #bc4a4a;
  padding: 30px 50px;
  font-size: 59px;
  font-family: 'browallia_newbold';
  color: white;
  border: none;
  margin-top: 200px;
}

.checkin_content .btn {
  margin-top: 0;
  width: 100%;
  max-width: 745px;
  background-color: rgba(188, 74, 74, .9);
}

.pic_choices > div {
  animation: shake 2s; 
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

.register_popup .btn {
    margin-top: 30px;
    width: 106%;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    5% { transform: translate(-1px, -2px) rotate(-1deg); }
    10% { transform: translate(-3px, 0px) rotate(1deg); }
    15% { transform: translate(3px, 2px) rotate(0deg); }
    20% { transform: translate(1px, -1px) rotate(1deg); }
    25% { transform: translate(-1px, 2px) rotate(-1deg); }
    30% { transform: translate(-3px, 1px) rotate(0deg); }
    35% { transform: translate(3px, 1px) rotate(-1deg); }
    40% { transform: translate(-1px, -1px) rotate(1deg); }
    45% { transform: translate(1px, 2px) rotate(0deg); }
    50% { transform: translate(1px, -2px) rotate(-1deg); }
}

.register_popup {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
}

.off_click {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
}

.register_popup #guests_info{
  position: relative;
  z-index: 5;
  padding-top: 400px;
  width: 70%;
  margin: auto;
}

.register_popup p {
  text-align: left;
  font-size: 69px;
  margin-bottom: 61px;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: 'estrangelo_edessaregular';
}

.register_popup .fa-times {
  color: white;
  font-size: 72px;
  margin-bottom: 92px;
  padding: 50px;
}

.checkin_content .checkin_btn {
  margin-top: 28px;
  background-color: white;
  width: 100%;
  color: #0c7c56;
  padding: 20px;
}

.white {
  display: none;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: white;
}

.checked_in {
  display: none;
  position: fixed;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #0c7c56;
  color: white;
}

.checked_in div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.checked_in div p {
  font-size: 80px;
  font-family: 'estrangelo_edessaregular';
}

.checkin_content p.error {
  color: white !important;
  width: 100%;
  text-align: center;
  margin-top: 35px !important;
  margin-bottom: 0;
  font-size: 34px;
  position: relative;
}

#checkin_by_email {
  position: relative;
}

#loader img {
  width: 180px;
  top: 0;
  height: auto;
    -webkit-animation: load 1s linear infinite;
}

@-webkit-keyframes load {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg);  }
}

#pictures .button {
  margin-bottom: 60px;
  z-index: 4;
  line-height: 1.2;
  padding: 30px 50px;
  font-size: 59px;
  font-family: 'browallia_newbold';
  color: white;
  border: none;
  background: rgba(188, 74, 74, .9);
}
/**===================  photobooth page  ======================**/